/* CSS for monitor-client */

#received_counts {
	height: 200px;
}

#backlog {
	height: 200px;
}

#server_tps {
	height: 200px;
}

#content {
  margin-top: 30px;
}

.message {
  font-size: 60px;
  font-weight: bold;
  margin-top: 50px;
}
